<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Marcus Email</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
<table role="presentation" align="center" border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #F5F5F5; table-layout: fixed;">
	<tbody>
	<tr>
		<td align="center">
			<center style="width: 100%;">
				<table
						role="presentation"
						border="0"
						cellspacing="0"
						cellpadding="0"
						width="512"
						bgcolor="#FFFFFF"
						style="background-color: #ffffff; margin: 0 auto; max-width: 512px; width: inherit;"
				>
					<tbody>
					<tr>
						<td bgcolor="#4E4E4E" style="background-color: #2c2c2c; padding: 12px; border-bottom: 1px solid #2c2c2c;">
							<table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100% !important; min-width: 100% !important;">
								<tbody>
								<tr>
									<td align="left" valign="middle">
										<a
												href="https://m36ng.com"
												style="color: #0073b1; display: inline-block; text-decoration: none;"
												target="_blank"
												data-saferedirecturl="https://image.freepik.com/free-psd/fire-logo_253059-60.jpg"
										>
											<img
													alt="Sidekick"
													border="0"
													src="https://image.freepik.com/free-psd/fire-logo_253059-60.jpg"
													height=""
													width="60"
													style="outline: none; color: #ffffff; text-decoration: none;"
											/>
										</a>
									</td>
									<td valign="middle" width="100%" align="right">
									</td>
									<td width="1">&nbsp;</td>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
								<tbody>
								<tr>
									<td style="padding: 20px 24px 10px 24px;">
										<table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
											<tbody>
											<tr>
												<td style="padding-bottom: 20px;">
													<h2 style="margin: 0; color: #262626; font-weight: 400; font-size: 16px; line-height: 1.2;"><b th:text="${name}">Hello Abdul,</b></h2>
												</td>
											</tr>
											<tr>
												<td style="padding-bottom: 20px;">
													<p th:utext="${body}" style="margin: 0; color: #4c4c4c; font-weight: 400; font-size: 16px; line-height: 1.25;">We received a request to reset the password on your M36 Account.</p>
												</td>
											</tr>


											</tbody>
										</table>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr>
						<td>
							<table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%" bgcolor="#EDF0F3" align="center" style="background-color: #edf0f3; padding: 0 24px; color: #6a6c6d; text-align: center;">
								<tbody>
								<tr>
									<td align="center" style="padding: 16px 0 0 0; text-align: center;"></td>
								</tr>
								<tr>
									<td>
										<table role="presentation" border="0" cellspacing="0" cellpadding="0" width="100%">
											<tbody>
											<tr>
												<td align="center" style="padding: 0 0 12px 0; text-align: center;"><p style="margin: 0; color: #6a6c6d; font-weight: 400; font-size: 12px; line-height: 1.333;"></p></td>
											</tr>
											<tr>
												<td align="center" style="padding: 0 0 12px 0; text-align: center;">
													<p style="margin: 0; color: #6a6c6d; font-weight: 400; font-size: 12px; line-height: 1.333;">
														This email was intended for <span th:text="${footname}">Solomon</span>
													</p>
												</td>
											</tr>
											<tr>
												<td align="center" style="padding: 0 0 5px 0; text-align: center;">
	                                                                    <span style="margin: 0; color: #6a6c6d; font-weight: 400; font-size: 12px; line-height: 1.333;">
	                        												&reg; Sidekick <span th:text="${year}">2020</span>

	                                                                    </span>
												</td>
											</tr>
											</tbody>
										</table>
									</td>
								</tr>
								</tbody>
							</table>
						</td>
					</tr>
					</tbody>
				</table>
			</center>
		</td>
	</tr>
	</tbody>
</table>
</body>
</html>